@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This web site mimics a real life scenario of a relationship between a client, the local authority and care agency.
The client needs care and housework assistance at home. 
The local authority are only willing to cover up to a fixed rate per hour HRLA.</p>

<p>However the agency charges a higher hourly rate HRAG.
The difference between the rates has to be covered by the client (HRAG - HRLA).</p>

<p>Also any hours beyond what was agreed by the local authority has to be covered in full by the client.
The agency provides invoices and timesheets from which the payment calculations can be made.</p>
