@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Basingstoke<br />
    Hampshire<br />
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:michaelbrown20160630@gmail.com">michaelbrown20160630@gmail.com</a><br />
</address>