@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>LITTLE DWARFS AGENCY (MVC)</h1>
    <p class="lead">This is an application developed to demonstrate the use of MVC.</p>
    <!--<p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>-->
</div>

<div class="row">
    <div class="col-md-4">
        <h2>@Html.ActionLink("Invoices Handler", "Index", "Invoices")</h2>
        <p>
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum dignissim sem et elit viverra, vitae viverra nulla pulvinar. Aenean ut tempor ipsum. Duis venenatis lacus hendrerit, commodo erat sit amet, accumsan orci. Sed eget diam a sem imperdiet porta vitae eget massa. Etiam enim odio, fringilla et felis vitae, vestibulum pulvinar libero. Fusce nisi massa, aliquam in efficitur ut, hendrerit vitae arcu. Mauris congue libero felis, a tincidunt libero congue eu. Nam mattis, diam vitae eleifend porttitor, eros erat sagittis odio, ut tristique metus massa vel sem. Suspendisse dapibus turpis mi, ac congue tellus pulvinar quis. Nam at maximus ligula, vel luctus risus. Praesent sapien libero, dapibus in luctus sed, aliquet at ipsum. Mauris vehicula massa at lorem rhoncus, et aliquam eros euismod. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin finibus sapien in lacinia pellentesque. Donec nec dui in ante pretium pellentesque et ac nibh. Integer vestibulum tristique libero, in pretium ipsum consequat ac.
        </p>
        <!--<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p> -->
    </div>
    <div class="col-md-4">
        <h2>Timesheet Handler</h2>
        <p>Aenean tempor tempus enim, sit amet molestie ex volutpat eu. Donec non ex diam. Sed eu metus volutpat, imperdiet lectus et, lacinia ex. Aenean eu metus non felis tristique porta cursus et orci. Integer diam risus, suscipit ac pharetra quis, consequat eget neque. Maecenas id dapibus purus, in vulputate sem. Morbi tortor erat, accumsan eget enim ac, mollis sollicitudin diam. Vivamus in pulvinar ipsum, nec faucibus odio. Nam hendrerit tristique odio, ut pretium tellus. Proin quis condimentum tortor, vitae fringilla urna. Suspendisse condimentum sagittis sem placerat finibus. Curabitur et mollis nisi. Fusce tincidunt, ligula vitae scelerisque bibendum, justo est iaculis est, vitae auctor mauris velit at nisl. Vestibulum accumsan tortor consectetur est fringilla facilisis. Ut suscipit fermentum egestas. </p>
        <!--<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>-->
    </div>
    <div class="col-md-4">
        <h2>XML File Handler</h2>
        <p>Fusce libero lacus, lobortis ac mauris vel, blandit auctor turpis. Sed semper varius massa, egestas ullamcorper ante egestas eget. Maecenas in congue urna. Donec condimentum laoreet sem, sed suscipit nibh rutrum a. Praesent ultricies leo id sagittis consectetur. Nam convallis leo a elementum laoreet. Duis tempor aliquet augue nec tempor. Donec pretium sapien ut elit tempus suscipit. Maecenas sit amet diam a tortor blandit vestibulum id id orci. In ut mi in turpis iaculis gravida at at ante. </p>
        <!--<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>-->
    </div>
</div>