<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://littledwarfsagencymvc.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>littledwarfsagencymvc.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>LittleDwarfsAgencyMVC</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$LittleDwarfsAgencyMVC</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="LittleDwarfAgencyEntities1" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:geminiserver.database.windows.net,1433;Initial Catalog=LittleDwarfAgency;User ID=mike@geminiserver.database.windows.net;Password=Metroe113llk" Name="Data Source=tcp:geminiserver.database.windows.net,1433;Initial Catalog=LittleDwarfAgency;User Id=mike@geminiserver.database.windows.net;Password=Metroe113llk" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="LittleDwarfsAgencyMVC.LittleDwarfAgencyEntities1, LittleDwarfsAgencyMVC" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:geminiserver.database.windows.net,1433;Initial Catalog=LittleDwarfAgency;User ID=null@geminiserver.database.windows.net;Password=Metroe113llk" Name="Data Source=tcp:geminiserver.database.windows.net,1433;Initial Catalog=LittleDwarfAgency;User Id=null@geminiserver.database.windows.net;Password=Metroe113llk" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="LittleDwarfsAgencyMVC.Models.ApplicationDbContext, LittleDwarfsAgencyMVC" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="LittleDwarfAgencyEntities" Order="3" Enabled="False">
          <Destination Path="Data Source=tcp:geminiserver.database.windows.net,1433;Initial Catalog=LittleDwarfAgency;User ID=null@geminiserver.database.windows.net;Password=Metroe113llk" Name="Data Source=tcp:geminiserver.database.windows.net,1433;Initial Catalog=LittleDwarfAgency;User Id=null@geminiserver.database.windows.net;Password=Metroe113llk" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=geminiserver.database.windows.net;Initial Catalog=LittleDwarfAgency;Persist Security Info=True;User ID=mike;Password=Metroe113llk;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\LittleDwarfAgencyEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/AgencyModel.csdl|res://*/AgencyModel.ssdl|res://*/AgencyModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=geminiserver.database.windows.net;initial catalog=LittleDwarfAgency;persist security info=True;user id=mike;password=Metroe113llk;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:geminiserver.database.windows.net,1433;Initial Catalog=LittleDwarfAgency;User Id=null@geminiserver.database.windows.net;Password=Metroe113llk</ParameterValue>
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)LittleDwarfAgencyEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/AgencyModel.csdl|res://*/AgencyModel.ssdl|res://*/AgencyModel.msl;provider=System.Data.SqlClient;provider connection string="data source=tcp:geminiserver.database.windows.net,1433;initial catalog=LittleDwarfAgency;user id=null@geminiserver.database.windows.net;password=Metroe113llk;MultipleActiveResultSets=True;App=EntityFramework"</ParameterValue>
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)LittleDwarfAgencyEntities1-Web.config Connection String">
      <ParameterValue>metadata=res://*/LittleDwarfsAgencyModel.csdl|res://*/LittleDwarfsAgencyModel.ssdl|res://*/LittleDwarfsAgencyModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=tcp:geminiserver.database.windows.net,1433;Initial Catalog=LittleDwarfAgency;User Id=mike@geminiserver.database.windows.net;Password=Metroe113llk"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>